html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: normal;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #fff;
}

.container {
	max-width: 1440px;
	padding: 0 30px;
	margin: 0 auto;
}

.header {
	background: url(images/background_header.png) no-repeat center/cover;
	min-height: 775px;
}

.header__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.logo {
	text-align: center;
	margin-top: 30px;
}


.header_text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	color: #fff;
	font-size: 64px;
	max-width: 936px;
	line-height: 1.4;
 	margin: 229px auto 0 auto ;
 	text-align: center;
}

.main {

	background: url(images/background_main.png) center/cover;
	min-height: 1116px;

}

.main__header {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 1.3;
	text-align: center;
	color: #1B3417;
	padding-top: 93px;
}

.services__list {
	margin-top: 64px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;



}

.service {
	width: 675px;
	min-height: 353px;
	background: #fff;
	opacity: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin:7px;
	font-size: 24px;
	line-height: 1.2;
	color: white;

}

.service:nth-child(1), .service:nth-child(4) {
	background: #1B3417;
	opacity: 0.6;
}

.service__link2, .service__link3 {
	color: #1B3417;

}


.footer {
	min-height: 314px;
	background: #1B3417 center/cover;
	color: #fff;
	font-size: 18px;
	line-height: 1.2;


}

.contacts {
	padding-top: 122px;
	display: flex;
	justify-content: space-between;
}

.contact {
	width: 446px;
	text-align: center;
}

.contact span {
	line-height: 3;
}






@media (min-width: 376px) and (max-width: 768px) {
	.container {
		max-width: 768px;
		padding: 0 30px;
		margin: 0 auto;
	}

	.header {
		min-height: 644px;
	}

	.logo_img {
		max-width: 120px;
		max-height: 54px;
	}

	.logo {
		margin-top: 47px;
	}

	.header_text {
		font-size: 48px;
		line-height: 1.35;
	 	margin-top: 144px;
	}

	.main__header {
		padding-top: 55px;
	}

	.main {
		background: url(images/background_main.png) left/cover;
		min-height: 1020px;

	}

	.service {
		width: 345px;
		min-height: 367px;
		margin:4px;
	}

	.services__list {
		margin-top: 46px;
	}

	.footer {
		min-height: 519px;
	}

	.contacts {
		padding-top: 0px;
		display: flex;
		flex-direction: column;
		width: inherit;
	}

	.contact {
		width: auto;
		text-align: center;
		padding-top: 66px;
	}

}


@media (max-width: 375px) {
	.container {
		max-width: 375px;
		padding: 0 15px;
		margin: 0 auto;
	}

	.header {
		min-height: 677px;
	}

	.logo {
		margin-top: 42px;
	}

	.logo_img {
		max-width: 120px;
		max-height: 54px;
	}


	.header_text {
		font-size: 48px;
		line-height: 1.35;
	 	margin-top: 129px;
	 	text-align: left 	;
	}

	.main__header {
		padding-top: 39px;
		font-size: 24px;
		line-height: 1.2;
	}

	.services__list {
		margin-top: 36px;
	}

	.service {
		width: 345px;
		min-height: 277px;
		margin:4px;
	}

	.service:nth-child(1), .service:nth-child(3) {
		background: #1B3417;
		opacity: 0.6;
	}

	.service:nth-child(2), .service:nth-child(4) {
		background: white;
		opacity: 0.8;
	}

	.service a {
		width: 314px; 
	}

	.service__link3 {
		color: white;
	}

	.service__link4 {
		color: #1B3417;
	}

	.footer {
		min-height: 352px;
	}

	.contacts {
		padding-top: 48px;
		display: flex;
		flex-direction: column;

	}

	.contact {
		width: auto;
		text-align: left;
		padding-bottom: 40px;
	}

}